In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('worlddata/covid19.csv')

In [3]:
pd.set_option('display.max_rows',200)

In [4]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,13-03-2020,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,20-03-2020,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,24-03-2020,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,25-03-2020,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,26-03-2020,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,NaN,International,28-02-2020,705,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14088,NaN,International,29-02-2020,705,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,NaN,International,01-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14090,NaN,International,02-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14091,NaN,International,10-03-2020,696,-9,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['Location']

KeyError: 'Location'

In [6]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,13-03-2020,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,20-03-2020,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,24-03-2020,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,25-03-2020,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,26-03-2020,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,NaN,International,28-02-2020,705,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14088,NaN,International,29-02-2020,705,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,NaN,International,01-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14090,NaN,International,02-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14091,NaN,International,10-03-2020,696,-9,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['location']

0                Aruba
1                Aruba
2                Aruba
3                Aruba
4                Aruba
             ...
14087    International
14088    International
14089    International
14090    International
14091    International
Name: location, Length: 14092, dtype: object

In [8]:
org = df.filter(date='20.04.2020')

TypeError: filter() got an unexpected keyword argument 'date'

In [9]:
df['date'] == '13-03-2020'

0         True
1        False
2        False
3        False
4        False
         ...
14087    False
14088    False
14089    False
14090    False
14091    False
Name: date, Length: 14092, dtype: bool

In [11]:
args = (df['date'] == '29-04-2020')

In [12]:
df[args]

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
37,ABW,Aruba,29-04-2020,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
148,AFG,Afghanistan,29-04-2020,1827,124,60,3,46.932,3.185,1.541,0.077,NaN,NaN,NaN,NaN,NaN
187,AGO,Angola,29-04-2020,27,0,2,0,0.822,0.000,0.061,0.000,NaN,NaN,NaN,NaN,NaN
221,AIA,Anguilla,29-04-2020,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
273,ALB,Albania,29-04-2020,750,14,30,2,260.616,4.865,10.425,0.695,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13759,YEM,Yemen,29-04-2020,1,0,0,0,0.034,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13823,ZAF,South Africa,29-04-2020,4996,203,93,3,84.237,3.423,1.568,0.051,NaN,NaN,NaN,NaN,NaN
13865,ZMB,Zambia,29-04-2020,95,6,3,0,5.168,0.326,0.163,0.000,NaN,NaN,NaN,NaN,NaN
13906,ZWE,Zimbabwe,29-04-2020,32,0,4,0,2.153,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14027,NaN,World,29-04-2020,3052370,70943,216563,5738,391.591,9.101,27.783,0.736,NaN,NaN,NaN,NaN,NaN

In [13]:
pd.set_option('display.max_rows',206)

In [14]:
df[args]

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
37,ABW,Aruba,29-04-2020,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
148,AFG,Afghanistan,29-04-2020,1827,124,60,3,46.932,3.185,1.541,0.077,NaN,NaN,NaN,NaN,NaN
187,AGO,Angola,29-04-2020,27,0,2,0,0.822,0.000,0.061,0.000,NaN,NaN,NaN,NaN,NaN
221,AIA,Anguilla,29-04-2020,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
273,ALB,Albania,29-04-2020,750,14,30,2,260.616,4.865,10.425,0.695,NaN,NaN,NaN,NaN,NaN
320,AND,Andorra,29-04-2020,748,5,41,1,9680.968,64.712,530.641,12.942,NaN,NaN,NaN,NaN,NaN
435,ARE,United Arab Emirates,29-04-2020,11380,541,89,7,1150.611,54.700,8.999,0.708,NaN,NaN,NaN,NaN,NaN
489,ARG,Argentina,29-04-2020,4114,124,207,10,91.026,2.744,4.580,0.221,56058.0,2458.0,1.240,0.054,tests performed
601,ARM,Armenia,29-04-2020,1932,65,30,0,651.990,21.935,10.124,0.000,NaN,NaN,NaN,NaN,NaN
642,ATG,Antigua and Barbuda,29-04-2020,24,0,3,0,245.078,0.000,30.635,0.000,NaN,NaN,NaN,NaN,NaN
763,AUS,Australia,29-04-2020,6738,13,88,4,264.237,0.510,3.451,0.157,544410.0,13731.0,21.350,0.538,tests performed
884,AUT,Austria,29-04-2020,15314,58,569,20,1700.346,6.440,63.177,2.221,247754.0,8176.0,27.509,0.908,tests performed
998,AZE,Azerbaijan,29-04-2020,1717,39,22,0,169.343,3.846,2.170,0.000,NaN,NaN,NaN,NaN,NaN
1027,BDI,Burundi,29-04-2020,15,0,1,0,1.261,0.000,0.084,0.000,NaN,NaN,NaN,NaN,NaN
1148,BEL,Belgium,29-04-2020,47334,647,7331,124,4084.173,55.826,632.549,10.699,NaN,NaN,NaN,NaN,NaN
1192,BEN,Benin,29-04-2020,64,0,1,0,5.279,0.000,0.082,0.000,NaN,NaN,NaN,NaN,NaN
1220,BES,Bonaire Sint Eustatius and Saba,29-04-2020,6,0,0,0,228.824,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1268,BFA,Burkina Faso,29-04-2020,638,3,42,0,30.522,0.144,2.009,0.000,NaN,NaN,NaN,NaN,NaN
1324,BGD,Bangladesh,29-04-2020,6462,549,155,3,39.238,3.334,0.941,0.018,59701.0,4968.0,0.363,0.030,samples tested
1375,BGR,Bulgaria,29-04-2020,1399,36,58,0,201.340,5.181,8.347,0.000,45208.0,NaN,6.506,NaN,tests performed
1495,BHR,Bahrain,29-04-2020,2811,88,8,0,1651.991,51.717,4.702,0.000,126905.0,5199.0,74.581,3.055,units unclear
1538,BHS,Bahamas,29-04-2020,80,0,11,0,203.434,0.000,27.972,0.000,NaN,NaN,NaN,NaN,NaN
1586,BIH,Bosnia and Herzegovina,29-04-2020,1588,24,62,2,484.026,7.315,18.898,0.610,NaN,NaN,NaN,NaN,NaN
1700,BLR,Belarus,29-04-2020,12208,919,79,4,1291.945,97.256,8.360,0.423,NaN,NaN,NaN,NaN,NaN
1737,BLZ,Belize,29-04-2020,18,0,2,0,45.269,0.000,5.030,0.000,NaN,NaN,NaN,NaN,NaN
1778,BMU,Bermuda,29-04-2020,110,0,6,0,1766.416,0.000,96.350,0.000,NaN,NaN,NaN,NaN,NaN
1826,BOL,Bolivia,29-04-2020,1053,39,55,2,90.208,3.341,4.712,0.171,NaN,NaN,NaN,NaN,NaN
1947,BRA,Brazil,29-04-2020,71886,5385,5017,474,338.193,25.334,23.603,2.230,NaN,NaN,NaN,NaN,NaN
1990,BRB,Barbados,29-04-2020,80,0,6,0,278.386,0.000,20.879,0.000,NaN,NaN,NaN,NaN,NaN
2040,BRN,Brunei,29-04-2020,138,0,1,0,315.441,0.000,2.286,0.000,NaN,NaN,NaN,NaN,NaN
2087,BTN,Bhutan,29-04-2020,7,0,0,0,9.072,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2116,BWA,Botswana,29-04-2020,23,1,1,0,9.780,0.425,0.425,0.000,NaN,NaN,NaN,NaN,NaN
2161,CAF,Central African Republic,29-04-2020,50,0,0,0,10.352,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2282,CAN,Canada,29-04-2020,50015,1526,2859,152,1325.176,40.432,75.751,4.027,758412.0,17553.0,20.095,0.465,people tested
2403,CHE,Switzerland,29-04-2020,29181,100,1379,27,3371.726,11.555,159.337,3.120,260500.0,4000.0,30.100,0.462,tests performed
2459,CHL,Chile,29-04-2020,14365,552,207,9,751.457,28.876,10.829,0.471,NaN,NaN,NaN,NaN,NaN
2580,CHN,China,29-04-2020,83940,2,4637,0,58.319,0.001,3.222,0.000,NaN,NaN,NaN,NaN,NaN
2627,CIV,Cote d'Ivoire,29-04-2020,1183,19,14,0,44.848,0.720,0.531,0.000,NaN,NaN,NaN,NaN,NaN
2675,CMR,Cameroon,29-04-2020,1806,185,59,1,68.033,6.969,2.223,0.038,NaN,NaN,NaN,NaN,NaN
2723,COD,Democratic Republic of Congo,29-04-2020,491,20,30,0,5.482,0.223,0.335,0.000,NaN,NaN,NaN,NaN,NaN
2768,COG,Congo,29-04-2020,207,0,8,0,37.513,0.000,1.450,0.000,NaN,NaN,NaN,NaN,NaN
2825,COL,Colombia,29-04-2020,5949,352,269,16,116.916,6.918,5.287,0.314,NaN,NaN,NaN,NaN,NaN
2865,CPV,Cape Verde,29-04-2020,113,4,1,0,203.242,7.194,1.799,0.000,NaN,NaN,NaN,NaN,NaN
2918,CRI,Costa Rica,29-04-2020,705,8,6,0,138.395,1.570,1.178,0.000,9621.0,632.0,1.889,0.124,people tested
2964,CUB,Cuba,29-04-2020,1437,48,58,2,126.869,4.238,5.121,0.177,NaN,NaN,NaN,NaN,NaN
3001,CUW,Curacao,29-04-2020,16,0,1,0,97.502,0.000,6.094,0.000,NaN,NaN,NaN,NaN,NaN
3042,CYM,Cayman Islands,29-04-2020,70,0,1,0,1065.125,0.000,15.216,0.000,NaN,NaN,NaN,NaN,NaN
3091,CYP,Cyprus,29-04-2020,837,15,20,0,955.590,17.125,22.834,0.000,NaN,NaN,NaN,NaN,NaN
3212,CZE,Czech Republic,29-04-2020,7504,55,227,4,700.720,5.136,21.197,0.374,NaN,NaN,NaN,NaN,NaN
3333,DEU,Germany,29-04-2020,157641,1304,6115,202,1881.518,15.564,72.985,2.411,NaN,NaN,NaN,NaN,NaN
3375,DJI,Djibouti,29-04-2020,1072,37,2,0,1085.018,37.449,2.024,0.000,NaN,NaN,NaN,NaN,NaN
3413,DMA,Dominica,29-04-2020,16,0,0,0,222.250,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
3534,DNK,Denmark,29-04-2020,8851,153,434,7,1528.089,26.415,74.928,1.209,180062.0,13216.0,31.087,2.282,people tested
3646,DOM,Dominican Republic,29-04-2020,6416,281,286,8,591.451,25.904,26.365,0.737,NaN,NaN,NaN,NaN,NaN
3762,DZA,Algeria,29-04-2020,3649,132,437,5,83.214,3.010,9.966,0.114,NaN,NaN,NaN,NaN,NaN
3878,ECU,Ecuador,29-04-2020,24258,1018,871,208,1374.932,57.700,49.368,11.789,NaN,NaN,NaN,NaN,NaN
3995,EGY,Egypt,29-04-2020,5042,260,359,22,49.270,2.541,3.508,0.215,NaN,NaN,NaN,NaN,NaN
4034,ERI,Eritrea,29-04-2020,39,0,0,0,10.997,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4038,ESH,Western Sahara,29-04-2020,6,0,0,0,10.045,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4279,EST,Estonia,29-04-2020,1660,13,50,0,1251.377,9.800,37.692,0.000,NaN,NaN,NaN,NaN,NaN
4326,ETH,Ethiopia,29-04-2020,126,2,3,0,1.096,0.017,0.026,0.000,16434.0,766.0,0.143,0.007,tests performed
4443,FIN,Finland,29-04-2020,4740,45,199,6,855.485,8.122,35.916,1.083,NaN,NaN,NaN,NaN,NaN
4484,FJI,Fiji,29-04-2020,18,0,0,0,20.079,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4510,FLK,Falkland Islands,29-04-2020,13,0,0,0,3732.415,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4631,FRA,France,29-04-2020,126835,1065,23660,367,1943.131,16.316,362.475,5.622,NaN,NaN,NaN,NaN,NaN
4672,FRO,Faeroe Islands,29-04-2020,187,0,0,0,3826.870,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4719,GAB,Gabon,29-04-2020,238,27,3,0,106.931,12.131,1.348,0.000,NaN,NaN,NaN,NaN,NaN
4840,GBR,United Kingdom,29-04-2020,161145,3996,21678,586,2373.759,58.863,319.329,8.632,599339.0,29571.0,8.829,0.436,people tested
4958,GEO,Georgia,29-04-2020,511,14,6,0,128.097,3.509,1.504,0.000,NaN,NaN,NaN,NaN,NaN
4999,GGY,Guernsey,29-04-2020,247,0,13,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5046,GHA,Ghana,29-04-2020,1671,121,16,5,53.777,3.894,0.515,0.161,NaN,NaN,NaN,NaN,NaN
5087,GIB,Gibraltar,29-04-2020,141,0,0,0,4185.094,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
5133,GIN,Guinea,29-04-2020,1240,77,7,0,94.420,5.863,0.533,0.000,NaN,NaN,NaN,NaN,NaN
5176,GMB,Gambia,29-04-2020,10,0,1,0,4.138,0.000,0.414,0.000,NaN,NaN,NaN,NaN,NaN
5210,GNB,Guinea-Bissau,29-04-2020,73,0,1,0,37.094,0.000,0.508,0.000,NaN,NaN,NaN,NaN,NaN
5256,GNQ,Equatorial Guinea,29-04-2020,315,57,1,0,224.521,40.628,0.713,0.000,NaN,NaN,NaN,NaN,NaN
5376,GRC,Greece,29-04-2020,2534,0,136,0,243.115,0.000,13.048,0.000,72130.0,2297.0,6.920,0.220,tests performed
5414,GRD,Grenada,29-04-2020,18,0,0,0,159.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
5455,GRL,Greenland,29-04-2020,11,0,0,0,193.757,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
5501,GTM,Guatemala,29-04-2020,557,27,16,1,31.090,1.507,0.893,0.056,NaN,NaN,NaN,NaN,NaN
5543,GUM,Guam,29-04-2020,145,1,5,0,859.091,5.925,29.624,0.000,NaN,NaN,NaN,NaN,NaN
5589,GUY,Guyana,29-04-2020,75,1,8,0,95.352,1.271,10.171,0.000,NaN,NaN,NaN,NaN,NaN
5640,HND,Honduras,29-04-2020,738,45,66,5,74.511,4.543,6.664,0.505,NaN,NaN,NaN,NaN,NaN
5761,HRV,Croatia,29-04-2020,2047,8,63,4,498.628,1.949,15.346,0.974,34476.0,899.0,8.398,0.219,units unclear
5802,HTI,Haiti,29-04-2020,76,0,6,0,6.665,0.000,0.526,0.000,NaN,NaN,NaN,NaN,NaN
5859,HUN,Hungary,29-04-2020,2727,78,300,9,282.288,8.074,31.055,0.932,70300.0,3128.0,7.277,0.324,tests performed
5973,IDN,Indonesia,29-04-2020,9511,415,773,8,34.772,1.517,2.826,0.029,67784.0,5240.0,0.248,0.019,people tested
6013,IMN,Isle of Man,29-04-2020,309,1,21,3,3633.926,11.760,246.966,35.281,NaN,NaN,NaN,NaN,NaN
6133,IND,India,29-04-2020,31332,1897,1007,73,22.704,1.375,0.730,0.053,770764.0,54031.0,0.559,0.039,samples tested
6252,IRL,Ireland,29-04-2020,19877,229,1159,57,4025.480,46.377,234.720,11.544,NaN,NaN,NaN,NaN,NaN
6373,IRN,Iran,29-04-2020,92584,1112,5877,71,1102.283,13.239,69.970,0.845,453386.0,NaN,5.398,NaN,tests performed
6492,IRQ,Iraq,29-04-2020,1847,0,88,0,45.920,0.000,2.188,0.000,NaN,NaN,NaN,NaN,NaN
6613,ISL,Iceland,29-04-2020,1795,3,10,0,5260.073,8.791,29.304,0.000,NaN,NaN,NaN,NaN,NaN
6734,ISR,Israel,29-04-2020,15589,123,208,6,1801.043,14.211,24.031,0.693,NaN,NaN,NaN,NaN,NaN
6855,ITA,Italy,29-04-2020,201505,2091,27359,382,3332.764,34.584,452.500,6.318,1910761.0,63827.0,31.603,1.056,tests performed
6903,JAM,Jamaica,29-04-2020,381,17,7,0,128.666,5.741,2.364,0.000,NaN,NaN,NaN,NaN,NaN
6944,JEY,Jersey,29-04-2020,284,1,20,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6992,JOR,Jordan,29-04-2020,449,0,8,1,44.006,0.000,0.784,0.098,NaN,NaN,NaN,NaN,NaN
7113,JPN,Japan,29-04-2020,13852,276,389,13,109.522,2.182,3.076,0.103,164255.0,NaN,1.299,NaN,people tested
7161,KAZ,Kazakhstan,29-04-2020,3063,203,25,0,163.128,10.811,1.331,0.000,232415.0,16139.0,12.378,0.860,tests performed
7209,KEN,Kenya,29-04-2020,374,11,14,0,6.955,0.205,0.260,0.000,17835.0,508.0,0.332,0.009,units unclear
7251,KGZ,Kyrgyzstan,29-04-2020,729,21,8,0,111.738,3.219,1.226,0.000,NaN,NaN,NaN,NaN,NaN
7363,KHM,Cambodia,29-04-2020,122,0,0,0,7.297,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
7398,KNA,Saint Kitts and Nevis,29-04-2020,15,0,0,0,281.997,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
7519,KOR,South Korea,29-04-2020,10761,9,246,2,209.892,0.176,4.798,0.039,614197.0,5683.0,11.980,0.111,cases tested
7637,KWT,Kuwait,29-04-2020,3440,152,23,1,805.514,35.592,5.386,0.234,NaN,NaN,NaN,NaN,NaN
7673,LAO,Laos,29-04-2020,19,0,0,0,2.611,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
7790,LBN,Lebanon,29-04-2020,717,7,24,0,105.048,1.026,3.516,0.000,NaN,NaN,NaN,NaN,NaN
7834,LBR,Liberia,29-04-2020,141,8,16,0,27.878,1.582,3.164,0.000,NaN,NaN,NaN,NaN,NaN
7870,LBY,Libya,29-04-2020,61,0,2,0,8.878,0.000,0.291,0.000,NaN,NaN,NaN,NaN,NaN
7916,LCA,Saint Lucia,29-04-2020,15,0,0,0,81.686,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
7966,LIE,Liechtenstein,29-04-2020,83,0,1,0,2176.364,0.000,26.221,0.000,NaN,NaN,NaN,NaN,NaN
8078,LKA,Sri Lanka,29-04-2020,619,31,7,0,28.907,1.448,0.327,0.000,NaN,NaN,NaN,NaN,NaN
8192,LTU,Lithuania,29-04-2020,1449,0,44,3,532.272,0.000,16.163,1.102,118201.0,6392.0,43.420,2.348,samples analyzed
8306,LUX,Luxembourg,29-04-2020,3741,12,89,1,5976.267,19.170,142.178,1.598,41758.0,2017.0,66.709,3.222,people tested
8367,LVA,Latvia,29-04-2020,836,18,13,0,443.219,9.543,6.892,0.000,54811.0,3250.0,29.059,1.723,tests performed
8425,MAR,Morocco,29-04-2020,4252,132,165,3,115.197,3.576,4.470,0.081,32930.0,1680.0,0.892,0.046,people tested
8534,MCO,Monaco,29-04-2020,95,0,4,0,2420.752,0.000,101.926,0.000,NaN,NaN,NaN,NaN,NaN
8585,MDA,Moldova,29-04-2020,3638,157,107,5,901.843,38.920,26.525,1.239,NaN,NaN,NaN,NaN,NaN
8625,MDG,Madagascar,29-04-2020,128,0,0,0,4.622,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
8676,MDV,Maldives,29-04-2020,245,31,0,0,453.249,57.350,0.000,0.000,NaN,NaN,NaN,NaN,NaN
8797,MEX,Mexico,29-04-2020,16752,1223,1569,135,129.928,9.486,12.169,1.047,NaN,NaN,NaN,NaN,NaN
8909,MKD,Macedonia,29-04-2020,1421,22,71,6,682.065,10.560,34.079,2.880,NaN,NaN,NaN,NaN,NaN
8944,MLI,Mali,29-04-2020,424,16,24,1,20.937,0.790,1.185,0.049,NaN,NaN,NaN,NaN,NaN
8995,MLT,Malta,29-04-2020,450,0,4,0,1019.163,0.000,9.059,0.000,NaN,NaN,NaN,NaN,NaN
9033,MMR,Myanmar,29-04-2020,150,4,5,0,2.757,0.074,0.092,0.000,7718.0,NaN,0.142,0.002,samples tested
9076,MNE,Montenegro,29-04-2020,321,0,7,0,511.096,0.000,11.145,0.000,NaN,NaN,NaN,NaN,NaN
9121,MNG,Mongolia,29-04-2020,38,0,0,0,11.591,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
9151,MNP,Northern Mariana Islands,29-04-2020,14,0,2,0,243.237,0.000,34.748,0.000,NaN,NaN,NaN,NaN,NaN
9189,MOZ,Mozambique,29-04-2020,76,0,0,0,2.432,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
9235,MRT,Mauritania,29-04-2020,7,0,1,0,1.505,0.000,0.215,0.000,NaN,NaN,NaN,NaN,NaN
9274,MSR,Montserrat,29-04-2020,11,0,1,0,2200.440,0.000,200.040,0.000,NaN,NaN,NaN,NaN,NaN
9315,MUS,Mauritius,29-04-2020,334,0,10,0,262.627,0.000,7.863,0.000,NaN,NaN,NaN,NaN,NaN
9342,MWI,Malawi,29-04-2020,36,0,3,0,1.882,0.000,0.157,0.000,NaN,NaN,NaN,NaN,NaN
9462,MYS,Malaysia,29-04-2020,5851,31,100,1,180.776,0.958,3.090,0.031,154203.0,7404.0,4.764,0.229,cases tested
9508,NAM,Namibia,29-04-2020,16,0,0,0,6.297,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
9548,NCL,New Caledonia,29-04-2020,18,0,0,0,63.049,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
9588,NER,Niger,29-04-2020,709,8,31,2,29.289,0.330,1.281,0.083,NaN,NaN,NaN,NaN,NaN
9698,NGA,Nigeria,29-04-2020,1532,195,44,4,7.432,0.946,0.213,0.019,NaN,NaN,NaN,NaN,NaN
9740,NIC,Nicaragua,29-04-2020,13,0,3,0,1.962,0.000,0.453,0.000,NaN,NaN,NaN,NaN,NaN
9861,NLD,Netherlands,29-04-2020,38416,171,4566,48,2241.978,9.980,266.474,2.801,NaN,NaN,NaN,NaN,NaN
9982,NOR,Norway,29-04-2020,7605,72,195,2,1402.815,13.281,35.970,0.369,169124.0,3173.0,31.197,0.585,people tested
10097,NPL,Nepal,29-04-2020,54,2,0,0,1.853,0.069,0.000,0.000,NaN,NaN,NaN,NaN,NaN
10216,NZL,New Zealand,29-04-2020,1126,2,19,0,233.502,0.415,3.940,0.000,NaN,NaN,NaN,NaN,NaN
10331,OMN,Oman,29-04-2020,2131,82,10,0,417.301,16.058,1.958,0.000,NaN,NaN,NaN,NaN,NaN
10447,PAK,Pakistan,29-04-2020,14885,806,327,26,67.386,3.649,1.480,0.118,165911.0,8688.0,0.751,0.039,tests performed
10499,PAN,Panama,29-04-2020,6200,179,176,9,1436.925,41.485,40.790,2.086,NaN,NaN,NaN,NaN,NaN
10555,PER,Peru,29-04-2020,31190,2491,854,72,945.959,75.549,25.901,2.184,267612.0,28049.0,8.116,0.851,units unclear
10672,PHL,Philippines,29-04-2020,7958,181,530,19,72.622,1.652,4.837,0.173,NaN,NaN,NaN,NaN,NaN
10712,PNG,Papua New Guinea,29-04-2020,8,0,0,0,0.894,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
10768,POL,Poland,29-04-2020,12218,316,596,34,322.829,8.349,15.748,0.898,NaN,NaN,NaN,NaN,NaN
10801,PRI,Puerto Rico,29-04-2020,1400,11,86,2,489.367,3.845,30.061,0.699,NaN,NaN,NaN,NaN,NaN
10861,PRT,Portugal,29-04-2020,24322,295,948,20,2385.280,28.931,92.971,1.961,NaN,NaN,NaN,NaN,NaN
10914,PRY,Paraguay,29-04-2020,239,9,9,0,33.508,1.262,1.262,0.000,NaN,NaN,NaN,NaN,NaN
10966,PSE,Palestine,29-04-2020,495,0,2,0,97.032,0.000,0.392,0.000,NaN,NaN,NaN,NaN,NaN
11008,PYF,French Polynesia,29-04-2020,58,0,0,0,206.476,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
11125,QAT,Qatar,29-04-2020,11921,677,10,0,4137.713,234.983,3.471,0.000,91415.0,2808.0,31.730,0.975,people tested
11170,RKS,Kosovo,29-04-2020,790,10,22,0,408.739,5.174,11.383,0.000,NaN,NaN,NaN,NaN,NaN
11289,ROU,Romania,29-04-2020,11616,277,650,19,603.815,14.399,33.788,0.988,NaN,NaN,NaN,NaN,NaN
11410,RUS,Russia,29-04-2020,93558,6411,867,72,641.096,43.931,5.941,0.493,3303717.0,164459.0,22.638,1.127,tests performed
11456,RWA,Rwanda,29-04-2020,212,5,0,0,16.368,0.386,0.000,0.000,NaN,NaN,NaN,NaN,NaN
11511,SAU,Saudi Arabia,29-04-2020,20077,1266,152,8,576.695,36.365,4.366,0.230,NaN,NaN,NaN,NaN,NaN
11558,SDN,Sudan,29-04-2020,318,43,25,3,7.252,0.981,0.570,0.068,NaN,NaN,NaN,NaN,NaN
11617,SEN,Senegal,29-04-2020,823,88,9,0,49.152,5.256,0.538,0.000,NaN,NaN,NaN,NaN,NaN
11738,SGP,Singapore,29-04-2020,14951,528,14,0,2555.577,90.251,2.393,0.000,NaN,NaN,NaN,NaN,NaN
11767,SLE,Sierra Leone,29-04-2020,104,5,5,1,13.038,0.627,0.627,0.125,NaN,NaN,NaN,NaN,NaN
11809,SLV,El Salvador,29-04-2020,345,22,9,1,53.190,3.392,1.388,0.154,22593.0,NaN,3.483,NaN,tests performed
11929,SMR,San Marino,29-04-2020,553,15,41,0,16294.419,441.982,1208.085,0.000,NaN,NaN,NaN,NaN,NaN
11973,SOM,Somalia,29-04-2020,528,48,28,2,33.222,3.020,1.762,0.126,NaN,NaN,NaN,NaN,NaN
12036,SRB,Serbia,29-04-2020,8497,222,168,6,1248.715,32.625,24.689,0.882,78942.0,5579.0,11.601,0.820,people tested
12060,SSD,South Sudan,29-04-2020,34,28,0,0,3.037,2.501,0.000,0.000,NaN,NaN,NaN,NaN,NaN
12081,STP,Sao Tome and Principe,29-04-2020,11,3,0,0,50.191,13.689,0.000,0.000,NaN,NaN,NaN,NaN,NaN
12122,SUR,Suriname,29-04-2020,10,0,1,0,17.046,0.000,1.705,0.000,NaN,NaN,NaN,NaN,NaN
12175,SVK,Slovakia,29-04-2020,1384,3,20,2,253.496,0.549,3.663,0.366,81338.0,5472.0,14.898,1.002,samples analysed
12241,SVN,Slovenia,29-04-2020,1408,1,86,3,677.271,0.481,41.367,1.443,NaN,NaN,NaN,NaN,NaN
12362,SWE,Sweden,29-04-2020,19621,695,2355,81,1942.814,68.817,233.185,8.020,NaN,NaN,NaN,NaN,NaN
12408,SWZ,Swaziland,29-04-2020,71,6,1,0,61.198,5.172,0.862,0.000,NaN,NaN,NaN,NaN,NaN
12443,SXM,Sint Maarten (Dutch part),29-04-2020,75,0,13,0,1748.986,0.000,303.158,0.000,NaN,NaN,NaN,NaN,NaN
12489,SYC,Seychelles,29-04-2020,11,0,0,0,111.857,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
12527,SYR,Syria,29-04-2020,43,0,3,0,2.457,0.000,0.171,0.000,NaN,NaN,NaN,NaN,NaN
12563,TCA,Turks and Caicos Islands,29-04-2020,12,0,1,0,309.933,0.000,25.828,0.000,NaN,NaN,NaN,NaN,NaN
12604,TCD,Chad,29-04-2020,52,6,2,2,3.166,0.365,0.122,0.122,NaN,NaN,NaN,NaN,NaN
12651,TGO,Togo,29-04-2020,99,0,6,0,11.958,0.000,0.725,0.000,NaN,NaN,NaN,NaN,NaN
12772,THA,Thailand,29-04-2020,2938,0,54,0,42.092,0.000,0.774,0.000,62018.0,4096.0,0.889,0.059,people tested
12811,TLS,Timor,29-04-2020,24,0,0,0,18.203,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
12859,TTO,Trinidad and Tobago,29-04-2020,116,0,8,0,82.887,0.000,5.716,0.000,NaN,NaN,NaN,NaN,NaN
12911,TUN,Tunisia,29-04-2020,975,8,40,1,82.497,0.677,3.384,0.085,NaN,NaN,NaN,NaN,NaN
12958,TUR,Turkey,29-04-2020,114653,2392,2992,92,1359.429,28.362,35.476,1.091,991613.0,43498.0,11.757,0.516,units unclear
13078,TWN,Taiwan,29-04-2020,429,0,6,0,18.013,0.000,0.252,0.000,NaN,NaN,NaN,NaN,NaN
13122,TZA,Tanzania,29-04-2020,306,6,10,0,5.123,0.100,0.167,0.000,NaN,NaN,NaN,NaN,NaN
13161,UGA,Uganda,29-04-2020,79,0,0,0,1.727,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13208,UKR,Ukraine,29-04-2020,9410,401,239,19,215.166,9.169,5.465,0.434,104544.0,5825.0,2.390,0.133,units unclear
13254,URY,Uruguay,29-04-2020,625,5,15,0,179.922,1.439,4.318,0.000,18140.0,635.0,5.222,0.183,tests performed
13375,USA,United States,29-04-2020,1012583,24132,58355,2110,3059.139,72.906,176.298,6.375,NaN,NaN,NaN,NaN,NaN
13420,UZB,Uzbekistan,29-04-2020,1939,35,8,0,57.934,1.046,0.239,0.000,NaN,NaN,NaN,NaN,NaN
13466,VAT,Vatican,29-04-2020,9,0,0,0,11124.845,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13503,VCT,Saint Vincent and the Grenadines,29-04-2020,16,1,0,0,144.213,9.013,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13549,VEN,Venezuela,29-04-2020,329,0,10,0,11.570,0.000,0.352,0.000,NaN,NaN,NaN,NaN,NaN
13583,VGB,British Virgin Islands,29-04-2020,6,0,1,0,198.432,0.000,33.072,0.000,NaN,NaN,NaN,NaN,NaN
13619,VIR,United States Virgin Islands,29-04-2020,59,0,4,0,565.010,0.000,38.306,0.000,NaN,NaN,NaN,NaN,NaN
13739,VNM,Vietnam,29-04-2020,270,0,0,0,2.774,0.000,0.000,0.000,261004.0,NaN,2.681,NaN,units unclear
13759,YEM,Yemen,29-04-2020,1,0,0,0,0.034,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13823,ZAF,South Africa,29-04-2020,4996,203,93,3,84.237,3.423,1.568,0.051,NaN,NaN,NaN,NaN,NaN
13865,ZMB,Zambia,29-04-2020,95,6,3,0,5.168,0.326,0.163,0.000,NaN,NaN,NaN,NaN,NaN
13906,ZWE,Zimbabwe,29-04-2020,32,0,4,0,2.153,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14027,NaN,World,29-04-2020,3052370,70943,216563,5738,391.591,9.101,27.783,0.736,NaN,NaN,NaN,NaN,NaN

In [15]:
df['location']

0                Aruba
1                Aruba
2                Aruba
3                Aruba
4                Aruba
             ...
14087    International
14088    International
14089    International
14090    International
14091    International
Name: location, Length: 14092, dtype: object

In [16]:
df['total_cases']

0          2
1          4
2         12
3         17
4         19
        ...
14087    705
14088    705
14089    705
14090    705
14091    696
Name: total_cases, Length: 14092, dtype: int64

In [17]:
url = "https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv"

In [18]:
s=requests.get(url).content

NameError: name 'requests' is not defined

In [19]:
import requests

In [20]:
s=requests.get(url).content

In [21]:
df = pd.read_csv(s)

OSError: Expected file path name or file-like object, got <class 'bytes'> type

In [22]:
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

NameError: name 'io' is not defined

In [23]:
import io

In [24]:
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

ParserError: Error tokenizing data. C error: Expected 1 fields in line 33, saw 3

In [25]:
df = pd.read_csv(url)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 33, saw 3

In [26]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,13-03-2020,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,20-03-2020,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,24-03-2020,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,25-03-2020,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,26-03-2020,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,NaN,International,28-02-2020,705,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14088,NaN,International,29-02-2020,705,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14089,NaN,International,01-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14090,NaN,International,02-03-2020,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14091,NaN,International,10-03-2020,696,-9,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
fil = (df['date'] == '02-05-2020')

In [29]:
fil.value_counts()

False    14092
Name: date, dtype: int64

In [34]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"

In [35]:
df = pd.read_csv(url)

In [36]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14705,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14706,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14707,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14708,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14709,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
fil = df['date'] == '2020-05-02'

In [38]:
fil.value_counts()

False    14501
True       209
Name: date, dtype: int64

In [39]:
df['location']

0                Aruba
1                Aruba
2                Aruba
3                Aruba
4                Aruba
             ...
14705    International
14706    International
14707    International
14708    International
14709    International
Name: location, Length: 14710, dtype: object

In [41]:
df.rename(columns={'location':'Country'})

,iso_code,Country,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14705,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14706,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14707,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14708,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14709,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df['totalcase']

KeyError: 'totalcase'

In [43]:
df['total_cases']

0          2
1          4
2         12
3         17
4         19
        ...
14705    705
14706    705
14707    705
14708    705
14709    696
Name: total_cases, Length: 14710, dtype: int64

In [44]:
fil = (df['date'] == '2020-05-02')

In [45]:
df = df[fil]

In [46]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
40,ABW,Aruba,2020-05-02,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
154,AFG,Afghanistan,2020-05-02,2335,164,68,4,59.982,4.213,1.747,0.103,NaN,NaN,NaN,NaN,NaN
196,AGO,Angola,2020-05-02,29,2,2,0,0.882,0.061,0.061,0.000,NaN,NaN,NaN,NaN,NaN
233,AIA,Anguilla,2020-05-02,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
288,ALB,Albania,2020-05-02,782,9,31,0,271.735,3.127,10.772,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,YEM,Yemen,2020-05-02,7,1,2,0,0.235,0.034,0.067,0.000,NaN,NaN,NaN,NaN,NaN
14432,ZAF,South Africa,2020-05-02,5951,304,116,13,100.339,5.126,1.956,0.219,NaN,NaN,NaN,NaN,NaN
14477,ZMB,Zambia,2020-05-02,109,3,3,0,5.929,0.163,0.163,0.000,NaN,NaN,NaN,NaN,NaN
14521,ZWE,Zimbabwe,2020-05-02,34,0,4,0,2.288,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14645,NaN,World,2020-05-02,3307600,93350,238431,5861,424.334,11.976,30.588,0.752,NaN,NaN,NaN,NaN,NaN

In [48]:
from datetime import today

ImportError: cannot import name 'today' from 'datetime' (c:\users\hrishikesh\appdata\local\programs\python\python38-32\lib\datetime.py)

In [49]:
from datetime import date

In [51]:
today = date.today()

In [52]:
today

datetime.date(2020, 5, 3)

In [53]:
today = date.today()

In [54]:
print("Today date is: ", today)

Today date is:  2020-05-03

In [55]:
print(today)

2020-05-03

In [56]:
today

datetime.date(2020, 5, 3)

In [58]:
fil = df['date'] == today

In [64]:
from datetime import datetime, timedelta

In [68]:
date = str(datetime.now() - timedelta(days=1))[:10]

In [69]:
date

'2020-05-02'

In [70]:
fil = df['date'] == date

In [71]:
fil.value_counts()

True    209
Name: date, dtype: int64

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'

In [73]:
datetime.now()

datetime.datetime(2020, 5, 3, 16, 33, 10, 927720)

In [74]:
datetime.now() - timedelta(days=1)

datetime.datetime(2020, 5, 2, 16, 33, 13, 49719)

In [76]:
df = df[fil]

In [77]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
40,ABW,Aruba,2020-05-02,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
154,AFG,Afghanistan,2020-05-02,2335,164,68,4,59.982,4.213,1.747,0.103,NaN,NaN,NaN,NaN,NaN
196,AGO,Angola,2020-05-02,29,2,2,0,0.882,0.061,0.061,0.000,NaN,NaN,NaN,NaN,NaN
233,AIA,Anguilla,2020-05-02,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
288,ALB,Albania,2020-05-02,782,9,31,0,271.735,3.127,10.772,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,YEM,Yemen,2020-05-02,7,1,2,0,0.235,0.034,0.067,0.000,NaN,NaN,NaN,NaN,NaN
14432,ZAF,South Africa,2020-05-02,5951,304,116,13,100.339,5.126,1.956,0.219,NaN,NaN,NaN,NaN,NaN
14477,ZMB,Zambia,2020-05-02,109,3,3,0,5.929,0.163,0.163,0.000,NaN,NaN,NaN,NaN,NaN
14521,ZWE,Zimbabwe,2020-05-02,34,0,4,0,2.288,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14645,NaN,World,2020-05-02,3307600,93350,238431,5861,424.334,11.976,30.588,0.752,NaN,NaN,NaN,NaN,NaN

In [78]:
df['location']

40              Aruba
154       Afghanistan
196            Angola
233          Anguilla
288           Albania
             ...
14365           Yemen
14432    South Africa
14477          Zambia
14521        Zimbabwe
14645           World
Name: location, Length: 209, dtype: object

In [79]:
df['total_cases']

40           100
154         2335
196           29
233            3
288          782
          ...
14365          7
14432       5951
14477        109
14521         34
14645    3307600
Name: total_cases, Length: 209, dtype: int64

In [80]:
df['new_cases']

40           0
154        164
196          2
233          0
288          9
         ...
14365        1
14432      304
14477        3
14521        0
14645    93350
Name: new_cases, Length: 209, dtype: int64

In [81]:
df['total_deaths']

40            2
154          68
196           2
233           0
288          31
          ...
14365         2
14432       116
14477         3
14521         4
14645    238431
Name: total_deaths, Length: 209, dtype: int64

In [82]:
df['new_deaths']

40          0
154         4
196         0
233         0
288         0
         ...
14365       0
14432      13
14477       0
14521       0
14645    5861
Name: new_deaths, Length: 209, dtype: int64

In [83]:
df.set_index('Country',inplace=True)

KeyError: "None of ['Country'] are in the columns"

In [89]:
df.rename(columns={'location':'Country'},inplace=True)

In [85]:
df.set_index('Country',inplace=True)

KeyError: "None of ['Country'] are in the columns"

In [86]:
df.set_index('Country')

KeyError: "None of ['Country'] are in the columns"

In [87]:
df['Country']

KeyError: 'Country'

In [90]:
df

,iso_code,Country,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
40,ABW,Aruba,2020-05-02,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
154,AFG,Afghanistan,2020-05-02,2335,164,68,4,59.982,4.213,1.747,0.103,NaN,NaN,NaN,NaN,NaN
196,AGO,Angola,2020-05-02,29,2,2,0,0.882,0.061,0.061,0.000,NaN,NaN,NaN,NaN,NaN
233,AIA,Anguilla,2020-05-02,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
288,ALB,Albania,2020-05-02,782,9,31,0,271.735,3.127,10.772,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365,YEM,Yemen,2020-05-02,7,1,2,0,0.235,0.034,0.067,0.000,NaN,NaN,NaN,NaN,NaN
14432,ZAF,South Africa,2020-05-02,5951,304,116,13,100.339,5.126,1.956,0.219,NaN,NaN,NaN,NaN,NaN
14477,ZMB,Zambia,2020-05-02,109,3,3,0,5.929,0.163,0.163,0.000,NaN,NaN,NaN,NaN,NaN
14521,ZWE,Zimbabwe,2020-05-02,34,0,4,0,2.288,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14645,NaN,World,2020-05-02,3307600,93350,238431,5861,424.334,11.976,30.588,0.752,NaN,NaN,NaN,NaN,NaN

In [91]:
df['Country']

40              Aruba
154       Afghanistan
196            Angola
233          Anguilla
288           Albania
             ...
14365           Yemen
14432    South Africa
14477          Zambia
14521        Zimbabwe
14645           World
Name: Country, Length: 209, dtype: object

In [92]:
df.set_index('Country',inplace=True)

In [93]:
df

,iso_code,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
Country,,,,,,,,,,,,,,,
Aruba,ABW,2020-05-02,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,2020-05-02,2335,164,68,4,59.982,4.213,1.747,0.103,NaN,NaN,NaN,NaN,NaN
Angola,AGO,2020-05-02,29,2,2,0,0.882,0.061,0.061,0.000,NaN,NaN,NaN,NaN,NaN
Anguilla,AIA,2020-05-02,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
Albania,ALB,2020-05-02,782,9,31,0,271.735,3.127,10.772,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,YEM,2020-05-02,7,1,2,0,0.235,0.034,0.067,0.000,NaN,NaN,NaN,NaN,NaN
South Africa,ZAF,2020-05-02,5951,304,116,13,100.339,5.126,1.956,0.219,NaN,NaN,NaN,NaN,NaN
Zambia,ZMB,2020-05-02,109,3,3,0,5.929,0.163,0.163,0.000,NaN,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,2020-05-02,34,0,4,0,2.288,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
World,NaN,2020-05-02,3307600,93350,238431,5861,424.334,11.976,30.588,0.752,NaN,NaN,NaN,NaN,NaN

In [94]:
df.get_value('India','total_cases')

AttributeError: 'DataFrame' object has no attribute 'get_value'

In [95]:
df.get__value('India','total_cases')

AttributeError: 'DataFrame' object has no attribute 'get__value'

In [96]:
df.at['India','total_cases']

37336